@tailwind base;
@tailwind components;
@tailwind utilities;

$pink-pastel-list: (
    pink-pastel-100: #ffeaea,
    pink-pastel-200: #ffe1e1,
    pink-pastel-300: #ffd8d8,
    pink-pastel-400: #ffc3c3,
    pink-pastel-500: #ffb0b0,
);

@each $key in map-keys($pink-pastel-list) {
    .bg-#{$key} {
        background-color: map-get($pink-pastel-list, $key);
    }

    .hover\:bg-#{$key}:hover {
        background-color: map-get($pink-pastel-list, $key);
    }

    .text-#{$key} {
        color: map-get($pink-pastel-list, $key);
    }
}

* {
    font-family: 'Poppins';
}

.title {
    font-family: 'PrahoPro';
}

/* [class^="pink-pastel-"] {
    background-color: var(--pink-pastel-100);
} */