@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins';
}

.title {
  font-family: 'PrahoPro';
}

#contacts .contact-social-media a{
  font-size: 1.5em;
  padding: 0.25em;
}

#contacts{
  padding: 5em;
  background-image: url('../public/asset/img/contact-background.jpg');
}

#contacts .contact-container{
  background-color: white;
  border-radius: 1.5em;
  padding: 5em;
  box-sizing: border-box;
  border: 2px solid #ffd8d8;
  outline: 10px solid white;
}